body{
    font-size:15px;
}
.sedans{
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    padding:40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.suvs{
   background-color:hsl(184, 100%, 22%);
   color: hsl(0, 0%, 95%);
   padding:40px;
}
.luxury{
    background-color:hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    padding:40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h2{
    font-family: 'Big Shoulders Display'; 
    font-weight: 700;  
}
p{
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.container{
    display:flex;
    flex-direction: column;
    margin:80px 20px;
}
.button1{
    border-radius:25px;
    width:50%;
    height:15%;
    background-color: white;
    color:orange;
    padding:10px 10px;
    text-align: center;
    border:0
}
.button2{
    border-radius:25px;
    width:50%;
    height:15%;
    background-color: white;
    color:hsl(184, 100%, 22%);
    padding:10px 10px;
    text-align: center;
    border:0
}
.button3{
    border-radius:25px;
    width:50%;
    height:15%;
    background-color: white;
    color:hsl(179, 100%, 13%);;
    padding:10px 10px;
    text-align: center;
    border:0
}
.button1:hover{
    background-color: gray;
    cursor: pointer;
}
.button2:hover{
    background-color: gray;
    cursor: pointer;
}
.button3:hover{
    background-color: gray;
    cursor: pointer;
}
